<!DOCTYPE html>
<html lang="en" >
    <head>
        <title> todo list</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      </head>
      <body>
        <div class="container">
            <!-- Page Content goes here -->
            <div class="row">
                <div class="col s12 ">
                  <div class="card">
                    <div class="card-content">
                        <% if(error !== null){ %>
                            <div class="row teal lighten-4">
                             <div class="col s12">
                               <p class="center-align"><%= error %></p>
                            </div>
                           </div>
                           <% } %>
                        <span class="card-title">ToDo List</span>
                        <div class="row">
                            <form class="col s12" method="post" action="/update-task">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input placeholder="Task" id="task" type="text" name="task" value="New correctly updated task">
                                        <label for="task">Update Task</label>
                                        <input id="taskId" type="hidden" name="taskId" value="<%= task.id%>">
                                    </div>
                                </div>
                                <input class="btn" type="submit" value="Update task">
                                <a class="btn" href="/">Cancel</a>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>            
</body>
</html>
